<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> - PgHero</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag 'pghero' %>
    <%= javascript_include_tag 'pghero' %>
  </head>
  <body>
    <div class="container">
      <div class="alert alert-info">
        <% if notice %>
          <%= notice %>
        <% elsif Rails.env.development? %>
          Do not use development information to make decisions about your production environment
        <% else %>
          <%= link_to "PgHero", root_path %>
        <% end %>
      </div>

      <div class="grid">
        <div class="col-3-12">
          <ul class="nav">
            <!-- poor man's active_link_to -->
            <li class="<%= controller.action_name == "index" ? "active" : "" %>"><%= link_to "Status", root_path %></li>
            <li class="<%= controller.action_name == "indexes" ? "active" : "" %>"><%= link_to "Indexes", indexes_path %></li>
            <li class="<%= controller.action_name == "space" ? "active" : "" %>"><%= link_to "Space", space_path %></li>
            <li class="<%= controller.action_name == "queries" ? "active" : "" %>"><%= link_to "Queries", queries_path %></li>
          </ul>
        </div>

        <div class="col-9-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
