<table class="table queries">
  <thead>
    <tr>
      <th style="width: 13%;">Pid</th>
      <th style="width: 19%;">Duration</th>
      <th style="width: 43%;">State</th>
      <th style="width: 25%;"></th>
    </tr>
  </thead>
  <tbody>
    <% queries.reverse.each do |query| %>
      <tr>
        <td><%= link_to query[:pid], live_queries_path(anchor: query[:pid]), id: query[:pid], style: "color: inherit;" %></td>
        <td><%= pghero_humanize_duration_ms(query[:duration_ms].round) %></td>
        <td>
          <div><%= query[:state] %></div>
          <% if blocked_queries[query[:pid]] %>
            <% blocked_queries[query[:pid]].each do |q| %>
              <div class="text-warning">blocked by <%= link_to q[:blocking_pid], live_queries_path(anchor: q[:blocking_pid]), style: "color: inherit;" %></div>
            <% end %>
          <% end %>
          <% if vacuum_progress[query[:pid]] %>
            <div><strong><%= vacuum_progress[query[:pid]][:phase] %></strong></div>
            <% heap_blks_scanned = vacuum_progress[query[:pid]][:heap_blks_scanned] %>
            <% heap_blks_total = vacuum_progress[query[:pid]][:heap_blks_total] %>
            <% heaps_per_ms = (query[:duration_ms] / heap_blks_scanned) %>
            <% est_remaining_ms = (heap_blks_total - heap_blks_scanned) * heaps_per_ms %>
            <span class="text-muted"><%= heap_blks_scanned %> / <%= heap_blks_total %> (<%= ((heap_blks_scanned.to_f / heap_blks_total.to_f) * 100).round %>%, <%= pghero_humanize_duration_ms(est_remaining_ms.round) %> left)</span>
          <% end %>
        </td>
        <td class="text-right" style="padding-right: 0">
          <%= button_to "Explain", explain_path, params: {query: query[:query]}, form: {target: "_blank"}, class: "btn btn-info" %>
          <%= button_to "Kill", kill_path(pid: query[:pid]), class: "btn btn-danger" %>
        </td>
      </tr>
      <tr>
        <td colspan="6" style="border-top: none; padding: 0;">
          <%= query[:source] %> <span class="text-muted"><%= query[:user] %></span>
          <% if held_locks[query[:pid]] %>
            <span class="text-muted" style="float: right"><a href="javascript: void(0);" onclick="document.getElementById('locks-<%= query[:pid] %>').style.display = 'block';" style="color: inherit">holding <%= held_locks[query[:pid]].length %> locks</a></span>
          <% end %>

          <pre style="margin-top: 1em;"><code><%= query[:query] %></code></pre>

          <% if held_locks[query[:pid]] %>
            <div id="locks-<%= query[:pid] %>" style="display: none">
              <table style="font-size: 12px">
                <thead>
                  <th>Target</th>
                  <th>Mode</th>
                  <th>Status</th>
                </thead>
                <% held_locks[query[:pid]].each do |lock| %>
                  <tr>
                    <td>
                      <%= lock[:relation] %>
                      <% if lock[:locktype] == "tuple" %>
                        <span class="text-muted">tuple: (<%= lock[:page] %>,<%= lock[:tuple] %>)</span>
                      <% elsif lock[:locktype] == "page" %>
                        <span class="text-muted">page: (<%= lock[:page] %>)</span>
                      <% elsif lock[:locktype] == "transactionid" %>
                        <span class="text-muted">transactionid: (<%= lock[:tid] %>)</span>
                      <% elsif lock[:locktype] == "virtualxid" %>
                        <span class="text-muted">transactionid: (<%= lock[:vtid] %>)</span>
                      <% else %>
                        <span class="text-muted">(<%= lock[:locktype] %>)</span>
                      <% end %>
                    </td>
                    <td><%= lock[:mode] %></td>
                    <td>
                      <% if lock[:granted] %>
                        <span>Granted</span>
                      <% else %>
                        <span class="text-warning">(waiting)</span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  highlightQueries();
</script>
