<% if (parent_oid = query[:parent_oid]) %>
<tbody data-toggle-target='oid-<%= parent_oid %>' style="display:none">
<% else %>
<tbody>
<% end %>
  <tr>
    <% if query[:partitions].any? %>
      <td style="width: 1em"><input type=checkbox data-toggle="oid-<%= query[:oid] %>" class="show-partitions-toggle" /></td>
    <% else %>
      <td style="width: 0em"></td>
    <% end %>

    <td style="<%= query[:type] == "index" ? "font-style: italic;" : "" %>">
      <span style="word-break: break-all;">
        <% name = query[:relation] || query[:table] %>
        <% if @space_stats_enabled %>
          <%= link_to name, relation_space_path(name, schema: query[:schema]), target: "_blank", style: "color: inherit;" %>
        <% else %>
          <%= name %>
        <% end %>
      </span>
      <% if query[:schema] != "public" %>
        <span class="text-muted"><%= query[:schema] %></span>
      <% end %>
      <% if @unused_index_names.include?(query[:relation]) %>
        <span class="unused-index">UNUSED</span>
      <% end %>
    </td>
    <td><%= query[:size] %></td>
    <% if @space_stats_enabled %>
      <td>
        <% if @growth_bytes_by_relation[[query[:schema], query[:relation]]] %>
          <% if @growth_bytes_by_relation[[query[:schema], query[:relation]]] < 0 %>-<% end %><%= PgHero.pretty_size(@growth_bytes_by_relation[[query[:schema], query[:relation]]].abs) %>
        <% else %>
          <span class="text-muted">Unknown</span>
        <% end %>
      </td>
    <% end %>
  </tr>
</tbody>
