<div class="content">
  <h1>Explain</h1>

  <%= form_tag explain_path do %>
    <%= text_area_tag :query, @query, placeholder: "Enter a SQL query" %>
    <p><%= submit_tag "Explain", class: "btn btn-info" %> <%= submit_tag "Analyze", class: "btn btn-danger" %></p>
  <% end %>

  <% if @explanation %>
    <pre><%= @explanation %></pre>
    <p><%= link_to "See how to interpret this", "http://www.postgresql.org/docs/current/static/using-explain.html", target: "_blank" %></p>
  <% elsif @error %>
    <div class="alert alert-danger"><%= @error %></div>
  <% end %>
</div>
