<div class="content">
  <h1>Maintenance</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Table</th>
        <th class="text-right">Live Tuples</th>
        <th class="text-right">Dead Tuples</th>
        <th class="text-right">Last Vacuum</th>
        <th class="text-right">Last Analyze</th>
      </tr>
    </thead>
    <tbody>
      <% @maintenance_info.each do |table| %>
        <tr>
          <td>
            <%= table[:table] %>
            <% if table[:schema] != "public" %>
              <span class="text-muted"><%= table[:schema] %></span>
            <% end %>
            <% if table[:options] %>
              <ul style="font-size: 12px" class="text-muted">
                <% table[:options].gsub(/\A\{|\}\z/, "").split(",").each do |option| %>
                  <li><code><%= option %></code></li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td class="text-right">
            <% if table[:n_live_tup] > 0 %>
              <%= number_with_delimiter(table[:n_live_tup]) %>
            <% else %>
              <span class="text-muted">0</span>
            <% end %>
          </td>
          <td class="text-right">
            <% if table[:n_dead_tup] > 0 %>
              <span class="text-warning"><%= number_with_delimiter(table[:n_dead_tup]) %></span>
            <% else %>
              <span class="text-muted">0</span>
            <% end %>
          </td>
          <td class="text-right">
            <% time = [table[:last_autovacuum], table[:last_vacuum]].compact.max %>
            <% if time %>
              <%= time.in_time_zone(@time_zone).strftime("%-m/%-e %l:%M %P") %>
            <% else %>
              <span class="text-muted">Unknown</span>
            <% end %>
          </td>
          <td class="text-right">
            <% time = [table[:last_autoanalyze], table[:last_analyze]].compact.max %>
            <% if time %>
              <%= time.in_time_zone(@time_zone).strftime("%-m/%-e %l:%M %P") %>
            <% else %>
              <span class="text-muted">Unknown</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
