<div class="content">
  <h1>Maintenance</h1>

  <table class="table maintenance-table">
    <thead>
      <tr>
        <th><%= link_to "Table", @header_options %></th>
        <th style="width: 20%;"><%= link_to "Last Vacuum", @header_options.merge(sort: "last_vacuum") %></th>
        <th style="width: 20%;"><%= link_to "Last Analyze", @header_options.merge(sort: "last_analyze") %></th>
        <% if @show_dead_rows %>
          <th style="width: 20%;"><%= link_to "Dead Rows", @header_options.merge(sort: "dead_rows") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @maintenance_info.each do |table| %>
        <tr>
          <td>
            <%= table[:table] %>
            <% if table[:schema] != "public" %>
              <span class="text-muted"><%= table[:schema] %></span>
            <% end %>
          </td>
          <td>
            <% time = [table[:last_autovacuum], table[:last_vacuum]].compact.max %>
            <% if time %>
              <%= pghero_formatted_vacuum_times(time) %>
            <% else %>
              <span class="text-muted">Unknown</span>
            <% end %>
          </td>
          <td>
            <% time = [table[:last_autoanalyze], table[:last_analyze]].compact.max %>
            <% if time %>
              <%= pghero_formatted_vacuum_times(time) %>
            <% else %>
              <span class="text-muted">Unknown</span>
            <% end %>
          </td>
          <% if @show_dead_rows %>
            <td>
              <% if table[:live_rows] != 0 %>
                <%# use live rows only for denominator to make it easier to compare with autovacuum_vacuum_scale_factor %>
                <%# it's not a true percentage, since it can go above 100% %>
                <%= (100.0 * table[:dead_rows] / table[:live_rows]).round %>%
              <% else %>
                <span class="text-muted">Unknown</span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
