<div class="content">
  <pre><code style="max-height: 230px; overflow: hidden;" onclick="this.style.maxHeight = 'none';"><%= @query %></code></pre>
  <script>
    highlightQueries()
  </script>

  <% if @explainable_query %>
    <p>
      <% button_path, button_options = Rails.version >= "4.1" ? [explain_path, {params: {query: @explainable_query}}] : [explain_path(query: @explainable_query), {}] %>
      <%= button_to "Explain", button_path, button_options.merge(form: {target: "_blank"}, class: "btn btn-info") %>
    </p>
  <% end %>

  <!-- chart -->
  <% if @chart_data %>
    <h2>Total Time <small>sec</small></h2>
    <div id="chart-1" class="chart" style="margin-bottom: 20px;">Loading...</div>
    <script>
      new Chartkick.LineChart("chart-1", <%= json_escape(@chart_data.to_json).html_safe %>, {colors: ["#5bc0de"], legend: false})
    </script>

    <h2>Average Time <small>ms</small></h2>
    <div id="chart-2" class="chart" style="margin-bottom: 20px;">Loading...</div>
    <script>
      new Chartkick.LineChart("chart-2", <%= json_escape(@chart2_data.to_json).html_safe %>, {colors: ["#5bc0de"], legend: false})
    </script>

    <h2>Calls</h2>
    <div id="chart-3" class="chart" style="margin-bottom: 20px;">Loading...</div>
    <script>
      new Chartkick.LineChart("chart-3", <%= json_escape(@chart3_data.to_json).html_safe %>, {colors: ["#5bc0de"], legend: false})
    </script>
  <% else %>
    <p>
      Enable
      <%= link_to "historical query stats", "https://github.com/ankane/pghero", target: "_blank" %>
      to see more details
    </p>
  <% end %>

  <!-- table info -->
</div>
