<% content_for(:title, 'Space') %>
<div class="content">
  <h1>Largest Relations</h1>

  <p>Database Size: <%= number_to_human_size(@space_usage.total) %></p>

  <table class="table space display">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <% @space_usage.relations.each do |relation| %>
        <tr>
          <td><%= relation.name %></td>
          <td><%= relation.type %></td>
          <td data-value="<%= relation.size %>"><%= number_to_human_size(relation.size) %> (<%= relation.size_percentage.round(1) %>%)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
